registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/mirrors/node

verify-store-integrity=false
ignore-workspace-root-check=true
strict-peer-dependencies=false
auto-install-peers=true
enable-pre-post-scripts=true
