name: Merge And Build on master

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  check-label:
    runs-on: ubuntu-latest
    outputs:
      skip_ci: ${{ steps.skip_ci.outputs.value }}
      should_run: ${{ steps.should_run.outputs.value }}
      release_rule: ${{ steps.release_rule.outputs.value }}
      release_config: ${{ steps.release_config.outputs.value }}
    steps:
      - name: Get PR Number
        if: github.event_name != 'workflow_dispatch'
        id: pr_number
        run: |
          PR_NUM=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${{ github.repository }}/commits/${{ github.sha }}/pulls \
            | jq -r 'if length > 0 then .[0].number else "null" end')
          if [ "$PR_NUM" = "null" ] || [ -z "$PR_NUM" ]; then
            echo "value=" >> $GITHUB_OUTPUT
          else
            echo "value=$PR_NUM" >> $GITHUB_OUTPUT
          fi

      - name: Get PR Labels
        if: github.event_name != 'workflow_dispatch' && steps.pr_number.outputs.value != '' && steps.pr_number.outputs.value != 'null'
        id: pr_labels
        run: |
          echo "Fetching labels for pr #${{ steps.pr_number.outputs.value}}"
          LABELS=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
                  "https://api.github.com/repos/${{ github.repository }}/issues/${{ steps.pr_number.outputs.value }}/labels" \
                  | jq -r '.[].name' | tr '\n' ' ')
          echo "value=$LABELS" >> $GITHUB_OUTPUT

      - name: Check for 'skip_ci' Label
        if: github.event_name != 'workflow_dispatch' && steps.pr_labels.outputs.value != ''
        id: skip_ci
        run: |
          SKIP_CI=false
          if [ "${{ steps.pr_labels.outputs.value }}" != "" ]; then
            if echo "${{ steps.pr_labels.outputs.value }}" | grep -q "skip_ci"; then
              SKIP_CI=true
            fi
          fi

          if [ "$SKIP_CI" = "true" ]; then
            echo "value=true" >> $GITHUB_OUTPUT
          else
            echo "value=false" >> $GITHUB_OUTPUT
          fi

      - name: Check for 'release_rule' Label
        if: github.event_name != 'workflow_dispatch' && steps.pr_labels.outputs.value != '' && steps.skip_ci.outputs.value != 'true'
        id: release_rule
        run: |
          RELEASE_RULE=false
          if [ "${{ steps.pr_labels.outputs.value }}" != "" ]; then
            if echo "${{ steps.pr_labels.outputs.value }}" | grep -q "release_rule"; then
              RELEASE_RULE=true
            fi
          fi

          if [ "$RELEASE_RULE" = "true" ]; then
            echo "value=true" >> $GITHUB_OUTPUT
          else
            echo "value=false" >> $GITHUB_OUTPUT
          fi

      - name: Check for 'release_config' Label
        if: github.event_name != 'workflow_dispatch' && steps.pr_labels.outputs.value != '' && steps.skip_ci.outputs.value != 'true'
        id: release_config
        run: |
          RELEASE_CONFIG=false
          if [ "${{ steps.pr_labels.outputs.value }}" != "" ]; then
            if echo "${{ steps.pr_labels.outputs.value }}" | grep -q "release_config"; then
              RELEASE_CONFIG=true
            fi
          fi

          if [ "$RELEASE_CONFIG" = "true" ]; then
            echo "value=true" >> $GITHUB_OUTPUT
          else
            echo "value=false" >> $GITHUB_OUTPUT
          fi

      - name: Determine if CI should be skipped
        id: should_run
        run: |
          SKIP_CI=false
          if [ "${{ github.repository }}" != "j-show/eslint" ]; then
            SKIP_CI=true
            echo "Not target repo, abort ci."
          elif [ "${{ steps.release_rule.outputs.value }}" != "true" ] && [ "${{ steps.release_config.outputs.value }}" != "true" ]; then
            SKIP_CI=true
            echo "No release label found, abort ci."
          fi

          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            SKIP_CI=false
          fi

          if [ "$SKIP_CI" = "true" ]; then
            echo "value=false" >> $GITHUB_OUTPUT
          else
            echo "value=true" >> $GITHUB_OUTPUT
          fi

  upgrade-version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: check-label
    if: needs.check-label.outputs.should_run != 'false'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
          token: ${{ secrets.GIT_TOKEN }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install Dependencies
        run: |
          rm -rf ./.npmrc
          pnpm install --no-frozen-lockfile

      - name: Upgrade packages/rule version
        if: github.event_name == 'workflow_dispatch' || needs.check-label.outputs.release_rule == 'true'
        id: upgrade_rule
        run: |
          node ./scripts/upgrade-version.js -p rule
          VERSION=$(node -p "require('./package.json').version")
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          cd ../..

      - name: Upgrade packages/config version
        if: github.event_name == 'workflow_dispatch' || needs.check-label.outputs.release_config == 'true'
        id: upgrade_config
        run: |
          node ./scripts/upgrade-version.js -p config
          VERSION=$(node -p "require('./package.json').version")
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          cd ../..

      - name: Build commit message
        id: commit_msg
        run: |
          COMMIT_MSG="chore: upgrade packages version"
          if [ "${{ steps.upgrade_config.outputs.version }}" != "" ]; then
            COMMIT_MSG="$COMMIT_MSG\n- eslint-config-jshow ${{ steps.upgrade_config.outputs.version }}"
          fi
          if [ "${{ steps.upgrade_rule.outputs.version }}" != "" ]; then
            COMMIT_MSG="$COMMIT_MSG\n- eslint-plugin-jshow ${{ steps.upgrade_rule.outputs.version }}"
          fi
          echo "message=$COMMIT_MSG" >> $GITHUB_OUTPUT

      - name: Commit and push version changes
        if: steps.upgrade_config.outputs.version != '' || steps.upgrade_rule.outputs.version != ''
        run: |
          git config --local user.email "dev@jshow.org"
          git config --local user.name "jShow"
          git restore ./.npmrc
          git add .
          echo -e "${{ steps.commit_msg.outputs.message }}" | git commit -F -
          git pull --rebase
          git push "https://${{ github.actor }}:${{ secrets.GIT_TOKEN }}@github.com/${{ github.repository }}.git"
